{{ $base := .Params.BaseURL }}

<div class="info">
  {{ if .Params.archives }}
  <a href="{{ $base }}/archives/{{ .Date.Format "2006/01" }}">{{ .Date.Format "2006-01-02" }}</a>
  {{ else }}
  <span>{{ .Date.Format "2006-01-02" }}</span>
  {{ end }}
  
  {{ if .Params.categories }}
  {{ range .Params.categories }}
  <a href="{{ $base }}/categories/{{ . | urlize }}/">#{{ . }}</a>
  {{ end }}
  {{ end }}

  {{ if .Params.tags }}
  {{ range .Params.tags }}
  <a href="{{ $base }}/tags/{{ . | urlize }}/">#{{ . }}</a>
  {{ end }}
  {{ end }}
</div>
