{{ define "main" }}

<section class="entries{{ if eq .IsHome true }} is-home{{ end }}">
  {{ range sort .Paginator.Pages }}
  {{ if .Title }}
  <article>
    <h1 class="mb-0"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} <small>::Draft</small> {{ end }}</h1>
    {{ partial "parts/info" . }}

    <p class="mt-3">
      {{ .Summary | plainify | safeHTML }}

      {{ if .Truncated }}
      <a href="{{ .Permalink }}">Read more...</a>
      {{ end }}
    </p>
  </article>
  {{ end }}
  {{ end }}
</section>

{{ partial "parts/pagenator" . }}

{{ end }}
