// colors
$color-black: #444;
$color-gray: #777;

$color-blue: #3CA3BD;

// grids
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$media-breakpoints: $grid-breakpoints;
$box-shadow: 0 5px 10px rgba(#000, 0.1);
