.blockquote {
  @include font(1.4rem);
  font-weight: 100;
  font-style: italic;
  border-left: 4px solid #eee;
  padding-left: 20px;
  color: #aaa;

  a {
    color: #aaa;
    text-decoration: underline;
  }

  footer {
    @include font(1rem);
    text-align: right;

    &::before {
      content: '';
      display: inline-block;
      width: 100px;
      height: 1px;
      line-height: 1rem;
      background: #aaa;
      vertical-align: middle;
      margin-bottom: 5px;
    }
  }
}
