// @import "~bootstrap/scss/bootstrap";

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

@import "~spuit/spuit";

@import "styles/imports/syntax";

@import "styles/config/variables";
@import "styles/config/mixins";

@import "styles/shortcode/card";
@import "styles/shortcode/blockquote";

@import "styles/components/search-modal";
@import "styles/components/body";

// basic styles

html {
  font-size: 100%;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  @include font(1rem);
  color: $color-black;
}

a,
button,
input,
select,
td,
li {
  @include font(1rem, 1.8);
}

label,
legend {
  margin: 0;
}

li > code,
td > code,
p > code {
  color: #be3600;
  background-color: rgba(#be3600, 0.05);
}

// p {
a {
  color: $color-black;
  text-decoration: underline;
  // margin: 0 -0.2rem;
  // padding: 0.5rem 0.2rem;

  &:hover {
    color: $color-blue;
  }

  &:focus,
  &:active {
    outline: $outline-active;
  }

  &.no-underline {
    text-decoration: none;
  }
}
// }

mark {
  background-color: #fcff41;
}

.link-mobile-friendly {
  margin: -1rem;
  padding: 1rem;
  
  &:focus,
  &:active {
    outline: none;
  }
}

.link-sm {
  @include font(0.75rem);
  color: $color-gray;

  &:hover {
    color: $color-blue;
  }
}

.title-sm {
  font-size: 0.75rem;
  color: $color-gray;
  margin-bottom: 0.5rem;
  display: inline-block;

  a {
    @extend .link-sm;
  }
}

.btn {
  @include button;
}

.btn-outline {
  @include font(1rem);
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1rem;
  color: $color-black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $color-blue;
    border-color: $color-blue;
  }
}

.header {
  a {
    @include font(1rem, 0);
  }
}

.entries {
  &.is-home {
    margin-top: -0.5rem;
  }

  article {
    padding-bottom: 2rem;

    h1,
    h1 a {
      @include font(2rem, 1.8);
    }
  }
}

.entry {
  > h1,
  > h1 a {
    @include font(2rem, 1.8);
  }

  > hr {
    margin: 3rem 0;
  }
}

.info {
  @include font(0.75rem, 1);

  a {
    @extend .link-sm;
    @extend .link-mobile-friendly;
  }
}

.links {
  margin-left: 1rem;
  padding: 0;

  li {
    @include font(0.75rem, 1.5);
    color: $color-gray;
    // padding: 0.2rem 0;

    a {
      @include font(0.875rem, 1.5);
    }
  }
}

.pagination {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;

  .page-item {
    display: inline-block;

    .page-link {
      @include font(1rem, 1);
      color: $color-blue;
      border: 0;
      background-color: transparent;
    }
  }
}

.breadcrumbs {
  margin-bottom: 1rem;

  ol {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      @include font(0.75rem);
      display: inline-block;
      color: $color-gray;

      &:before {
        content: ">";
      }

      &:first-child {
        &:before {
          display: none;
        }
      }

      a {
        @extend .link-sm;
      }
    }
  }
}

.footer {
  @include font(0.75rem, 1);
  color: $color-gray;
  padding: 1rem 0;
}

.emojify {
  font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji,
    Segoe UI Symbol, Android Emoji, EmojiSymbols;
  font-size: 2rem;
  vertical-align: middle;
}

$menu-widht: 260px;
@include media-breakpoint-down(sm) {
  .menu-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#fff, 0.5);
    z-index: 997;
    display: none;
    cursor: pointer;
  }

  .menu-trigger {
    $r: 48px;
    z-index: 997;
    position: fixed;
    top: 0;
    left: 0;
    transition: $transition;
    cursor: pointer;

    &:focus {
      outline: $outline-active;
    }

    label {
      @include button-base;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: $r;
      height: $r;
      background-color: #fff;
      border-bottom-right-radius: 0.5rem;
      // box-shadow: 0 2px 10px 4px rgba(#000, 0.1);

      .icon {
        @include background-map-svg($map-svg-bars);
      }
    }

    input[type="checkbox"] {
      display: none;
    }
  }

  .menu-content {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-$menu-widht);
    transition: $transition;
    width: $menu-widht;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    overflow: auto;

    &__inner {
      padding: 2rem;
    }
  }

  body {
    padding-top: 40px;
    transition: $transition;
  }

  body.open {
    margin-right: -$menu-widht;
    padding-left: $menu-widht;
    overflow: hidden;
    height: 100%;
    position: fixed;

    .menu-cover {
      display: block;
    }
    .menu-trigger {
      left: $menu-widht;
      label {
        .icon {
          @include background-map-svg($map-svg-close);
        }
      }
    }
    .menu-content {
      transform: translateX(0px);
    }
  }
}
@include media-breakpoint-up(md) {
  .menu-trigger {
    display: none;
  }
  .menu-content {
    position: sticky;
    top: 1rem;
    left: 0;
  }
}
