{{/*

hotwo:
{{< amazon id="xxx" title="xxx" src="/images/xxx.png" >}}

*/}}

<section class="amazon">
  {{ $id := (.Get "id") }}
  {{ $title := (.Get "title") }}
  {{ $src := (.Get "src") }}
  {{ $name := (.Get "name") }}
  <a href="https://www.amazon.co.jp/o/ASIN/{{ $id }}" target="_blank">
    <img src="{{ $src }}" />
    <span>
      <span class="title">{{ $title }}</span>
      {{ if ne $name nil }}
        <span class="name">{{ $name }}</span>
      {{ end }}
    </span>
  </a>
</section>
